<div align='center'>
  <p>
    This abomination of a website was created because<br />
    of the absurdness of this global pandemic.
  </p>
  
  <p>
    At one point, this pandemic will pass, and then this<br />
    site will be useless (and gone), so goof on it while you can.
  </p>
  
  <p>
    <img src="/images/microbe.png" alt="microbe" />
  </p>
</div>

<div align='center' style='margin-top:78px;'>
  <a href='/'>Goofs</a> -
  <a href='/api' target='_blank'>Check out our awesome API</a>
</div>
