<script>
  function copyPandemicGoof() {
    var r = document.createRange();
    r.selectNode(document.getElementById('pandemicGoof'));
    window.getSelection().removeAllRanges();
    window.getSelection().addRange(r);
    document.execCommand('copy');
    window.getSelection().removeAllRanges();

    document.getElementById('goofCopier').innerText = 'Goof Copied!';
  }
</script>
<div align='center'>
  <p>Instead of saying, <br />"In this global pandemic?"</p>

  <p>Try saying, <br />"<span id='pandemicGoof' style='cursor:pointer;' onclick='copyPandemicGoof()'><%= @goof %></span>"</p>

  <p>
    <a href='#' onclick='copyPandemicGoof()' id='goofCopier'>Copy Goof</a> -
    <a href='/'>New Goof</a>
  </p>
</div>

<div align='center' style='margin-top:300px;'>
  <a href='/about'>About</a> -
  <a href='/api' target='_blank'>Check out our awesome API</a> 
</div>
